.scrum{
    display:grid;
    grid-template-columns: auto 1fr;
}
.scrum_info{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 200px;
    div{
        text-align: center;
        border-radius: 20%;
        padding: 20px 0;
        p{
            font-weight: bold;
        }
        ul{
            list-style: none;
            text-align: center;
        }
        button{
            background: orange;
            border-radius: 10px;
            padding:5 40px;
        }
    }
}
.concept_scrum{
    text-align: center;
}
.parts{
    background: #DAF1E982;
}
.practise{
    background: #FFE7675C;
}
.card_of_history{
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 20px;
    padding: 10px;
    box-shadow: 10px 5px 5px lightgrey;
    border: 1px solid lightgrey;
    border-radius: 10px;
    .logo{
        p{
            width: 56px;
        }
    }
}
.kanban{
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 10px;
}
.scrum_or_kanban{
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-gap: 20px;
    
    .scrum_list{
        align-content: center;
        .scrum_list_info{
            display: grid;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
            align-self: center;
            .scrum_list_items{
                display: grid;
                grid-template-columns: auto 1fr;
                align-items: center;
                grid-gap: 10px;
            }
        }
        .scrum_list_top{
            position: relative;
            
            p{
                color: white;
                text-transform: uppercase;
                position: absolute;
                top: 0px;
                left: 32%;
                font-family: Inter;
                font-size: 32px;
                font-style: normal;
                font-weight: 400;



            }
        }
    }
}
h4{
    font-family: 'Playfair Display';
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
}
h2{
    font-family: 'Playfair Display';
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px; 
}
p{
font-family: Inter;
font-size: 14px;
font-style: normal;
}
